# env.nix

{
  gui = false;

# User Settings
  user = "username";
  groups = [ "wheel" "docker" ];
  password = "defaultPassword";

# Git Setting
  git_email = "git_emailAddress";
  git_user = "git_userName";

# Network Settings
  hostname = "hostname";
  gateway = "192.168.1.1";
  ipv4Address = "192.168.1.10";
  nameservers = [ "9.9.9.9" "8.8.8.8" ];
  firewall = false;
  allowedPorts = [ 22 80 443 ];

# SSH authorizedKeys
  authorizedKeys = [
    "ssh-ed25519 xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx yoursshkey@machine"
    "ssh-ed25519 yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy yoursshkey@machine"
  ];
}
